.container{
    width: 100%;
    display: flex;
    justify-content: center;


    .intro{
        width: 425px;
        max-width: 100%;
        text-align: center;

        a{
            text-decoration: none;
            color: rgb(200, 200, 200);
        }
    }

}