.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.4s ease;


    img{
        width: 100%;
        box-shadow: 10px 10px 1px rgba(0,0,0,.25);
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin: 25px 0;

    }



    .liveLink{
        transition: all 0.4s ease;
        padding: 15px;
        display: block;
        position: relative;
        border: 1px solid;
        color: white;
        text-decoration: none;
        box-shadow: 5px 5px 1px rgba(0,0,0,1);
        background-color: rgb(42,42,42);
        cursor: pointer;
        width: 425px;
        max-width: 100%;
        margin: 0 0 25px 0;



        span{



            &::before, &::after{
                content: "";
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 0%;
                left: 0;
                transition: all 0.4s ease;
                background-color: rgba(200,200,200, 0.5);
            }

            &::before{
                top: 0
            }

            &::after{
                bottom: 0;
            }
        }

        
        &:hover{

            span{

                &::before,&::after{
                    height: 50%;
                }

            }
        }

    }

    li{
    font-size: 22px;
    list-style: inside;
    margin: 2px 0;
    display: inline-block;
    position: relative;
    background-color: #313131;
    margin: 10px 10px 10px 0;
    padding: 10px;
    list-style: none;
    cursor: context-menu;

    }

    .techStackContainer{
        margin: 20px 0;
    }

}
